.hotDeals {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}
.hotDeals h1 {
    color: var(--secondary-color);
    font-family: "Rampart One", sans-serif;
    text-align: center;
    margin: 5rem;
    font-size: 3rem;
}
.hotDeals h1 span {
    color: var(--primary-color);
    font-family: "Rampart One", sans-serif;
    text-align: center;
    font-size: 3rem;
}
.hotdeal_card {
    display: flex;
    flex-direction:row;
    position: relative;
    gap: 2rem;
    align-items: center;
}
.discount {
    position: absolute;
    text-align: center;
    padding: 25px;
    background:var(--primary-color);
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    left: 12rem;
    top: 0;
    background: linear-gradient(to right, red, black);
}
.hotdeal_card img {
    width: 500px;
    height: 500px;
}
.hotdeals_disc h2 {
    font-size: 3.5rem;
    color: var(--primary-color);
}
.hotdeals_disc h3 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    text-shadow: 1px 1px 5px black;
}
.hotdeals_disc p {
    color: var(--color2);
}
.Why_you_should_try {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.Why_you_should_try h2 {
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.Why_you_should_try img {
    top: 17rem;
    width: 300px;
    height: 500px;
}
.why_try {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   font-size: 1.5rem;
   font-weight: bolder;
   color: var(--secondary-color);
}
.why_try p {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bolder;
}
.p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Customer_reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.Customer_review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.customer_card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.customer_card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.customer_disc {
    background: var(--background-3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.customer_disc p {
    color: var(--color2);
    font-size: 0.8rem;
    font-style: italic;
    position: relative;
}
.customer_disc p::before {
    content: '"';
    font-size: 8rem;
    color: var(--primary-color);
    position: absolute;
    top: -4rem;
    left: -2rem;
    opacity: 0.2;
    font-style: italic;
}
.customer_disc p::after {
    content: '"';
    font-size: 8rem;
    color: var(--primary-color);
    position: absolute;
    bottom: -9rem;
    right: 1rem;
    opacity: 0.2;
    font-style: italic;
}
.customer_disc h2 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .hotDeals {
        padding: 0;
    }
    .hotDeals h1 span, .hotDeals h1 {
         font-size: 2rem;
        text-align: center;
    }
    .hotdeal_card{
         flex-direction: column;
    }
    .hotdeal_card img {
        width: 300px;
        height: 300px;
    }
    .discount {
         left: 0;
         top: 0;
         font-size: 1.5rem;
    }
    .hotdeals_disc h2, .hotdeals_disc h3 {
        font-size: 2.5rem;
    }
    .Customer_review {
         grid-template-columns: 1fr;
    }
    .Why_you_should_try {
         flex-direction: column;
    }
    .Why_you_should_try h1, .Why_you_should_try h1 span {
         font-size: 2rem;
         margin: 1.2rem;
    }
    .Why_you_should_try h2 {
         font-size: 2rem;
         margin:1rem;
    }
    .why_try {
         display: flex;
         flex-direction: row;
         rotate: 0deg;
        padding: 20px;
    }
    .why_try .p {
         font-size: 1rem;
         font-weight: bolder;
         gap: 1rem;
         flex-wrap: wrap;
    }
    .Why_you_should_try img {
         width: 200px;
         height: 200px;
         rotate: 0deg;
    }
    .price {
        margin: 1rem;
    }
    .Customer_review {
        padding: 20px;
    }
    .customer_card {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .why_try {
        flex-direction: column;
    }
    .why_try .p {
        text-align: center;
    }
    .img {
        align-items: center;
    }
    .hotdeal_card img {
        width: 200px;
        height: 200px;
    }
    .discount {
        font-size: 0.5rem;
        top: 2rem;
        left: 2rem;
    }
    .hotdeals_disc {
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .hotdeals_disc h2, .hotdeals_disc h3 {
        font-size: 2rem;
        text-align: center;
    }
    .hotdeals_disc p {
        text-align: center;
        font-size: 0.8rem;
        padding: 1rem;
    }
    .order_now2 {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
    .hotDeals h1 {
        margin: 1rem;
        font-size: 2rem;
    }
} 
