.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 2rem;
    padding-top: 2rem;
}

.Contact h1 {
    color: var(--secondary-color);
    font-family: "Rampart One", sans-serif;
    text-align: center;
    font-size: 4rem;
}

.Contact h1 span {
    color: var(--primary-color);
    font-family: "Rampart One", sans-serif;
    text-align: center;
    font-size: 4rem;
}

.contact_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
    font-size: 1.5rem;
    padding: 2rem;
    width: 70%;
    align-items: center;
    border: 1px solid grey;
    border-radius: 25px;
}

.ContactUs {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
    background: transparent;
    padding: 2rem;
    width: 100%;
    
}

.ContactUs h2 {
    color: var(--primary-color);
    text-align: center;
    font-size: 2em;
}

.ContactUs p {
    font-size: 1rem;
    color: grey;
}

.inputs_for_email {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    gap: 1rem;
}

.inputs_for_email input,
textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.025rem;
    border: none;
    border-bottom: 1px solid black;
    ;
    background: transparent;
    text-align: left;
    color: black;
}

.inputs_for_email input:focus,
textarea:focus {
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
}

textarea {
    width: 100%;
    height: 9rem;
    padding: 1rem;
    font-size: 1.025rem;
    border: none;
    border-bottom: 1px solid grey;
    resize: none;
    margin-bottom: 1rem;
}

.send_message {
    width: 100%;
    padding: 1rem;
    font-size: 1.025rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    background-color: var(--primary-color);
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}
.send_message:hover {
    background-color: var(--secondary-color);
    color: white;
}

.Social_medias {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}
.ImageBurger {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ContactImage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 600px;
    padding: 2rem;
}
.ContactImage h1 {
    color: black;
    font-size: 3rem;
}
.address {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: left;
}
.address p, .address a {
    font-size: 1.2rem;
    color: black;
}
.address div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.Social_medias .social-icon {
    color: black;
}

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .ContactImage {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .address p, .address a {
        font-size: 1rem;
    }

}

@media screen and (max-width: 769px) {
    body {
        overflow-x: hidden;
    }
    .ContactImage {
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
    }
    .address p, .address a {
        font-size: 1rem;
    }
    .contact_form {
        flex-direction: row;
        margin: 0;
        width: 100%;
        padding: 12px;
    }
    .Contact h1, .Contact h1 span {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

}
@media screen and (max-width: 426px) {
    body {
        overflow-x: hidden;
    }
    .ContactImage {
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
    }
    .address {
        align-items: center;
    }
    .address p, .address a {
        font-size: 1rem;
    }
    .contact_form {
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
        padding: 12px;
    }
    .Contact h1, .Contact h1 span {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

}